body {
    background-color: #141414;
    color: #e6e6e6;
    font-family: 'Montserrat', sans-serif;
}

.header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 200px;
}

.header .logo {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
}

.header .button-container {
    position: absolute;
    top: 50%;
    left: 180px;
    transform: translateY(-50%);
}

.header .button-container a, .animated-button {
    outline: none;
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    border: 1px solid;
    border-color: #ff7e00;
    border-image-slice: 1;
    margin: 10px 20px;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 2px;
    text-align: center;
}

.header .button-container a:before, .animated-button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    background-color: #ff7e00;
    transition: .8s cubic-bezier(.165,.84,.44,1);
}

.header .button-container a, .button-container a:hover, .animated-button, .animated-button:hover {
    color: #e6e6e6;
    text-decoration: none;
}

.header .button-container a:hover:before, .animated-button:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
}

#canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.hidden {
    display: none;
}